/* Small devices (landscape phones, 576px and up)  */
/* @media (min-width: 576px) { ... } */

 /* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* /* @media (mins-width: 1200px) { ... }; */








/* .form-row{
  width: 50%;
} */

/* .form-control{
  width: 50%;
} */

/* .form-row2 {
  width: 100%;
  /* display: flex; */
  
/* }  */



/* .users_signin {
  width: 100%;
  height: 300px;
} */




/* ========================================================== */


 

