@media only screen and (min-width : 320px) {
  .img2{
     width: 90%;
     height: auto;
   } 
 
   a.router-link-active.router-link-exact-active {
     width: 47%;
   }
 }
 
 @media only screen and (min-width : 270px) {
  
   .img2{
     width: 100%;
     height: auto;
   } 
 
   a.router-link-active.router-link-exact-active {
     width: 40%;
   }
 
 }
 
 
 /* Small devices (landscape phones, 576px and up)  */
 @media (min-width: 576px) {  
    .img2{
     width: 90%;
     height: auto;
   } 

  }


